
@media (min-width: 1200px){

.glide__slides{
    height: calc(100vh - 83px);
}
.glide__track{
    height: calc(100vh - 83px);
}
.glide__slide{
    width: 100%;
    object-fit: cover;
}
.glide__arrow{
    margin-left: 20px;
    margin-right: 20px;
}
}
.glide{
    z-index: 0;
}
.glide__arrow{
    border: 0;
}
.glide__arrow img{
    transition: ease-in-out .25s;
}
.glide__arrow:hover img{
    opacity: 60%;
}